.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
# Ignore Airflow Logs
logs/
*.log

# Ignore temporary system files
.DS_Store
Thumbs.db